.edit-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.998);
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.popup-linner {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100%;
  max-width: 900px;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
}

.popup-linner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #000;
  color: white;
  padding: 8px;
  border-radius: 10%;
  transition: 0.5s;
  &:hover {
    background-color: rgb(75, 75, 75);
    color: white;
  }
}

 