@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  /* background-color: #080e33 !important; */
  background: rgb(251, 251, 251);
 
}

 
