@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.bodyHome {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 74vh;
  margin-bottom: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  text-align: center;
  overflow: hidden;
}

.chat-buton {
  background: #28004b35;
  border: 0;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  z-index: 99999999999;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: .3rem;

  &:hover {
    background: #28004b;
    color: #fff;
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
      transform: translateY(0);
    }

    @media (max-width: 480px) {
      transform: translateY(0);
    }

    @media (max-width: 320px) {
      transform: translateY(0);
    }

    @media (max-width: 280px) {
      transform: translateY(0);
    }
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
    padding: 0.5rem 0.8rem;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
  }

  @media (max-width: 320px) {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }
}

.absoluto-user {
  position: absolute;
  top: 1021px;
  right: 4px;
  margin: 0;
  padding: 0;
  z-index: 99;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-weight: 400;
}

.slick-slide {
  height: 100% !important;
  margin-bottom: -7px;
}

.container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  z-index: 2;
}

.container .card {
  width: 450px !important;
  background-color: #ffffff;
  height: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container .card .imgBx {
  position: relative;
  width: 100%;
  height: 18.94rem;
  overflow: hidden;
}

.container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s ease-in-out;
  transform-origin: center;
  cursor: pointer;
  pointer-events: none;
}

.container .card:hover .imgBx img {
  transform: scale(1.21);
}

.container .card .content {
  padding: 10px;
}

.precio {
  margin-top: 180px;
}

.stock {
  margin-top: 176px;
}

.container .card .content .productName h3 {
  font-size: 17px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  margin: 5px 0;
  object-fit: contain;
  position: absolute;
  bottom: 220px;

  max-width: 428px;
}

.imagez {
}

.productName {
}

.container .card .content .price_rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .card .content .price_rating h2 {
  font-size: 21px;
  color: #004c87;
  font-weight: bold;
}

.container .card .content .price_rating .fa {
  color: #ffd513;
  cursor: pointer;
}

.container .card .content .price_rating .fa.grey {
  color: #ccc;
}

.stock {
  color: #02ae02;
}

.action {
  position: absolute;
  right: 10px;
  top: 10px;

  li {
    position: relative;
    list-style: none;
    height: 40px;
    width: 40px;
    background-color: rgb(242, 242, 242);
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    transform: translateX(60px);
    transition: transform 0.5s;
    &:hover {
      background-color: #000000;
      color: #fff;
    }

    &:hover span {
      opacity: 1;
      transform: translateY(-50%) translateX(-20px);
    }

    span {
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%) translateX(-20px);
      white-space: nowrap;
      padding: 4px 6px;
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      font-weight: 500;
      font-size: 14px;
      border-radius: 4px;
      pointer-events: none;
      opacity: 0;
      transition: 0.5s;
    }
  }
}

.container .card:hover .action li {
  transform: translateX(0px);
}

.action li:nth-child(2) {
  transition-delay: 0.15s;
}

.action li:nth-child(3) {
  transition-delay: 0.3s;
}

.action li span::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  transform: translateY(-50%) rotate(45deg);
}

.pic {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}

.home-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  background-color: #060b26;
}

.logo-img {
  position: absolute;
  bottom: 0;

  height: 40px;

  object-fit: contain;
}

.code-small {
  position: absolute;
  bottom: 0;
  margin-left: 380px;
  margin-bottom: 10px;
}

.btn-product-home {
  position: absolute;
  bottom: 0;
  margin: 63px 16px;
  text-align: center;
  width: 100%;
  z-index: 999999999;
  height: 60px;
  width: 400px;
  background-color: #02ae02;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  &:hover {
    background-color: #00d700;
  }

  &:focus {
    outline: none;
  }

  &:hover span {
    opacity: 1;
    transform: translateY(-50%) translateX(-20px);
  }
}

.date-small {
  position: absolute;
  bottom: 0;
  margin: 10px 155px;
}

.cuotes-home {
  text-align: left;
  bottom: 0;
  color: #004c87;
  font-weight: bold;
  margin: 0 2px;
  font-size: 17px;
}

.nav-cuotas-home {
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  text-align: center;
  padding: 6px;
  font-size: 14px;
}
