@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.bodyHome {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 77vh;
  background-color: #080e33 !important;
  overflow-x: hidden;
  text-align: center;
}

.containerProductos {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(452px, 1fr));
  z-index: 2;
  min-height: 23.7vh;
}

.container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(452px, 1fr));
  justify-items: center;
  align-items: center;
  z-index: 2;
}

.container .card {
  width: 450px !important;
  background-color: #ffffff;
  height: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container .card .imgBx {
  position: relative;
  width: 100%;
  height: 18.94rem;
  overflow: hidden;
}

.container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s ease-in-out;
  transform-origin: center;
  cursor: pointer;
  pointer-events: none;
}

 

.container .card .content {
  padding: 10px;
}

.precio {
  margin-top: 180px;
}

.stock {
  margin-top: 176px;
}

.container .card .content .productName h3 {
  font-size: 17px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  margin: 5px 0;
  object-fit: contain;
  position: absolute;
  bottom: 220px;

  max-width: 428px;
}

.container .card .content .price_rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .card .content .price_rating h2 {
  font-size: 21px;
  color: #004c87;
  font-weight: bold;
}

.container .card .content .price_rating .fa {
  color: #ffd513;
  cursor: pointer;
}

.container .card .content .price_rating .fa.grey {
  color: #ccc;
}

.stock {
  color: #02ae02;
}

.action {
  position: absolute;
  right: 10px;
  top: 10px;

  li {
    position: relative;
    list-style: none;
    height: 40px;
    width: 40px;
    background-color: rgb(242, 242, 242);
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    transform: translateX(60px);
    transition: transform 0.5s;
    &:hover {
      background-color: #000000;
      color: #fff;
    }

    &:hover span {
      opacity: 1;
      transform: translateY(-50%) translateX(-20px);
    }

    span {
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%) translateX(-20px);
      white-space: nowrap;
      padding: 4px 6px;
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      font-weight: 500;
      font-size: 14px;
      border-radius: 4px;
      pointer-events: none;
      opacity: 0;
      transition: 0.5s;
    }
  }
}

.container .card:hover .action li {
  transform: translateX(0px);
}

.action li:nth-child(2) {
  transition-delay: 0.15s;
}

.action li:nth-child(3) {
  transition-delay: 0.3s;
}

.action li span::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  transform: translateY(-50%) rotate(45deg);
}

.pic {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}

.logoImg {
  position: absolute;
  bottom: 0;

  height: 40px;

  object-fit: contain;
}

.codeSmall {
  position: absolute;
  bottom: 0;
  margin-left: 380px;
  margin-bottom: 12px;
}

.btn_product_home {
  position: absolute;
  bottom: 0;
  margin: 63px 16px;
  text-align: center;
  width: 100%;
  z-index: 999999999;
  height: 60px;
  width: 400px;
  background-color: #02ae02;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  &:hover {
    background-color: #00d700;
  }

  &:focus {
    outline: none;
  }

  &:hover span {
    opacity: 1;
    transform: translateY(-50%) translateX(-20px);
  }
}

.dateSmall {
  position: absolute;
  bottom: 0;
  margin: 10px 155px;
}

.cuotesHome {
  text-align: left;
  bottom: 0;
  color: #004c87;
  font-weight: bold;
  margin: 0 2px;
  font-size: 17px;
}

.headerImg {
  width: 100%;
  height: 47vh;
  object-fit: cover;
}

.title {
  font-size: 42px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 1px #00000055;
  position: absolute;
  left: 4px;
  top: 41%;
}

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.656);
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  z-index: 999999999;
}
